@charset "UTF-8";
* {
  /*reseteos*/
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  /*grid y background color detras de la pagina*/
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 3, auto;
  grid-template-areas: "header" "main" "footer";
  background-color: #171717;
}
.body h2, .body h3 {
  /*texto*/
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  padding: 10px;
  line-height: 1.5;
}
.body p {
  /*texto*/
  padding: 10px;
  padding-top: 0px;
  line-height: 1.5;
  text-align: justify;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  grid-area: header;
  background-color: #D42229;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header__nav--dropdown {
  /*deshabilitar dropdown*/
  display: none;
}
.header .header__logo img, .header .header__nav img {
  /*logo*/
  margin: 1rem;
  height: 100px;
  width: 150px;
}
.header .header__logo .header__nav--menu, .header .header__nav .header__nav--menu {
  /*navegacion*/
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-style: normal;
  padding: 1rem;
  list-style-type: none;
  margin-bottom: 0;
}
.header .header__logo .header__nav--menu li, .header .header__nav .header__nav--menu li {
  display: inline-block;
  font-size: 1.3rem;
  padding-right: 20px;
  padding-left: 20px;
}
.header .header__logo .header__nav--menu li a, .header .header__nav .header__nav--menu li a {
  color: black;
  padding: 20px;
  text-decoration: none;
}

.main {
  /*background color de main*/
  background-color: #C8C5B9;
  grid-area: main;
}
.main .titulo {
  /*titulos*/
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .titulo .titulo__text {
  /*texto y caja del titulo*/
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  background-color: #C8C5B9;
  border: solid black 1px;
  padding: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.8549019608);
  color: black;
  text-align: center;
}
.main .titulo .titulo__text--nosotros {
  width: 250px;
}
.main .titulo__background {
  padding-top: 0;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.main .titulo__background--index {
  /*imagenes de background*/
  background-image: url(../imagenes/background-full.jpg);
}
.main .titulo__background--juegos {
  background-image: url(../imagenes/background4.jpg);
}
.main .titulo__background--nosotros {
  background-image: url(../imagenes/background2.jpg);
}
.main .titulo__background--soporte {
  background-image: url(../imagenes/background3.png);
}
.main .juegos {
  /*seccion de juegos*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.main .juegos .juegos__imgtext {
  /*alineacion vertical de texto e imagenes*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.main .juegos .juegos__imgtext .juegos__links {
  /*decoracion de links*/
  text-decoration: none;
}
.main .juegos .juegos__imgtext .juegos__links h2 {
  /*texto*/
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
  font-size: 1.5rem;
  height: 60px;
}
.main .juegos .juegos__imgtext .juegos__links img {
  /*tamaño de img*/
  height: 330px;
  width: 220px;
}
.main .juegos .juegos__imgtext .juegos__links .juegos__sgs {
  /*wrap de texto*/
  text-wrap: wrap;
  width: 220px;
}
.main .juegos .juegos__border {
  /*bordes*/
  padding: 10px;
  padding-bottom: 0;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.7294117647);
}
.main .juegos .juegos__nobot {
  /*ajuste margin bottom de seccion 1*/
  margin-bottom: 50px;
}
.main .juegos .juegos__notop {
  /*no margin top en seccion 2*/
  margin-top: 0;
}
.main .nosotros__text {
  /*texto de pag nosotros*/
  padding: 70px;
}
.main .nosotros__text .nosotros__text--font {
  color: black;
  font-size: 1.3rem;
  text-align: justify;
}
.main .formulario {
  /*formulario*/
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  padding-top: 40px;
}
.main .formulario .formulario__text {
  /*secciones individuales del formulario*/
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}
.main .formulario .formulario__name {
  width: 250px;
  padding: 5px;
  margin: 10px;
  margin-top: 0;
}
.main .formulario .formulario__email {
  width: 250px;
  padding: 5px;
  margin: 10px;
}
.main .formulario .formulario__com {
  height: 120px;
  width: 250px;
  resize: vertical;
  padding: 5px;
  margin: 10px;
}
.main .formulario .formulario__submit {
  height: 30px;
  width: 50px;
  padding: 5px;
  margin: 10px;
  margin-bottom: 0;
  font-size: 0.8rem;
  text-align: center;
}
.main .juego {
  /*juegos individuales*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}
.main .juego .juego__img img {
  width: 258px;
  height: 387px;
}
.main .juego .juego__text {
  /*texto y alineacion vertical*/
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40vw;
}
.main .juego .juego__text .juego__text--titulo {
  /*titulo*/
  color: black;
  font-size: 2.5rem;
  text-align: center;
}
.main .juego .juego__text .juego__text--desc {
  /*descripcion*/
  color: black;
  font-size: 1.3rem;
}
.main .juego .juego__text .juego__text--boton {
  /*boton*/
  font-size: 1.5rem;
}
.main .juego__video {
  /*video*/
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.main .juego__video .juego__video--vid {
  /*borde y responsividad*/
  width: 70%;
  height: auto;
  box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.7294117647);
}

.footer {
  grid-area: footer;
  background-color: #171717;
  display: flex;
  justify-content: space-evenly;
  color: #ffffff;
  text-align: center;
  padding-top: 2rem;
}
.footer .copyright {
  /*seccion izquierda del footer*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .copyright .copyright__text {
  /*texto*/
  width: 240px;
}
.footer .copyright .copyright__text h3 {
  font-size: 1.2rem;
}
.footer .copyright .copyright__img {
  /*logo footer*/
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
.footer .copyright .copyright__img img {
  background-color: #C8C5B9;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.9333333333);
}
.footer .redes {
  /*alineacion vertical de la seccion de redes*/
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .redes h3 {
  font-size: 1.2rem;
}
.footer .redes .redes__img {
  /*seccion de logos de redes*/
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 3rem;
}
.footer .redes .redes__img img {
  /*imagenes*/
  background-color: #C8C5B9;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 50px;
  height: 50px;
  box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.9333333333);
}

@media screen and (max-width: 1000px) {
  /*reducir tamaño de las imagenes*/
  .main .juegos .juegos__imgtext .juegos__links img {
    height: 270px;
    width: 180px;
  }
  .main .juegos .juegos__imgtext .juegos__links .juegos__sgs {
    width: 180px;
  }
}
@media screen and (max-width: 850px) {
  .header .header__nav .header__nav--menu {
    /*deshabilitar menu original*/
    display: none;
  }
  .header .header__nav .header__nav--dropdown {
    /*habilitar dropdown*/
    display: block;
    margin-right: 4rem;
  }
  .header .header__nav .header__nav--dropdown .header__nav--boton {
    /*dropdown*/
    background-color: #D42229;
    border: black solid 1px;
    font-size: 2rem;
    width: auto;
    height: auto;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.9333333333);
  }
  .header .header__nav .header__nav--dropdown .header__nav--dropdownmenu {
    background-color: #171717;
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    border: black solid 1px;
  }
  .header .header__nav .header__nav--dropdown .header__nav--dropdownmenu .header__nav--dropdownitem {
    font-size: 1.2rem;
    color: #ffffff;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .header .header__nav .header__nav--dropdown .header__nav--dropdownmenu .header__nav--dropdownitem:hover {
    /*hover items*/
    background-color: #171717;
  }
  .main .juegos {
    /*juegos en columna, cambios de margin y padding*/
    flex-direction: column;
  }
  .main .juegos .juegos__imgtext {
    margin-top: 70px;
    margin-bottom: 0;
  }
  .main .juegos .juegos__imgtext .juegos__links img {
    height: 330px;
    width: 220px;
  }
  .main .juegos .juegos__imgtext .juegos__links h2 {
    padding-bottom: 0;
  }
  .main .juegos .juegos__imgtext .juegos__links .juegos__sgs {
    width: 220px;
  }
  .main .juegos .juegos__nobot {
    margin-bottom: 0px;
    margin-top: 70px;
  }
  .main .juegos .juegos__notop {
    margin-top: 70px;
  }
  .main .juegos .juegos__last {
    margin-bottom: 70px;
  }
  .main .titulo .titulo__text--soporte {
    /*titulo soporte*/
    width: 350px;
  }
  .main .nosotros__text {
    /*texto en columna*/
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-bottom: 70px;
    padding-top: 70px;
    width: 90%;
    margin: 0 auto;
  }
  .main .juego {
    /*juegos individuales en columna*/
    flex-direction: column;
    justify-content: center;
    padding-right: 0;
    padding-left: 0;
  }
  .main .juego .juego__img {
    margin-bottom: 20px;
  }
  .main .juego .juego__img img {
    width: 220px;
    height: 330px;
  }
  .main .juego .juego__text {
    width: 90%;
  }
  .main .juego .juego__text .juego__text--titulo {
    font-size: 2.3rem;
  }
  .main .juego .juego__text .juego__text--desc {
    font-size: 1.2rem;
    text-align: center;
  }
  .main .juego__video .juego__video--vid {
    width: 85%;
  }
  .footer {
    /*footer en columna*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 430px) {
  .main .titulo .titulo__text {
    font-size: 2rem;
    width: 60%;
  }
  .main .formulario {
    /*mejor responsividad*/
    padding: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main .formulario .formulario__name {
    margin-right: 0px;
    margin-left: 0px;
  }
  .main .formulario .formulario__email {
    margin-right: 0px;
    margin-left: 0px;
  }
  .main .formulario .formulario__com {
    margin-right: 0px;
    margin-left: 0px;
  }
  .main .formulario .formulario__submit {
    margin-right: 0px;
    margin-left: 0px;
  }
}

/*# sourceMappingURL=estilo.css.map */
