.footer{
    grid-area: footer;
    background-color: $bgbody;
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    text-align: center;
    padding-top: 2rem;
    .copyright{
        /*seccion izquierda del footer*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        .copyright__text{
            /*texto*/
            width: 240px;
            h3{
                font-size: 1.2rem;
            }
        }
        .copyright__img{
            /*logo footer*/
            margin-top: .5rem;
            margin-bottom: 3rem;
            img{
                background-color: $bgmain;
                border-radius: 5px;
                margin: 5px;
                padding: 5px;
                width: 50px;
                height: 50px;
                box-shadow: 5px 5px 2px 0px #000000ee;
            }
        }
    }
    .redes{
        /*alineacion vertical de la seccion de redes*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        h3{
            font-size: 1.2rem;
        }
        .redes__img{
            /*seccion de logos de redes*/
            display: flex;
            margin-top: .5rem;
            margin-bottom: 3rem;
            &:hover{
                .redes__img--facebook{
                    opacity: 0.5;
                    &:hover{
                        opacity: 1;
                    }
                }
                .redes__img--instagram{
                    @extend .redes__img--facebook;
                }
                .redes__img--twitter{
                    @extend .redes__img--facebook;
                }
                .redes__img--discord{
                    @extend .redes__img--facebook;
                }
            }
            .redes__img--ind{
                transition: all 0.2s;
                img{
                /*imagenes*/
                background-color: $bgmain;
                border-radius: 5px;
                margin: 5px;
                padding: 5px;
                width: 50px;
                height: 50px;
                box-shadow: 5px 5px 2px 0px #000000ee;
                }
            }
        }
    }
}